* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Header part style */
header {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  padding-bottom: 20px;
}
header #navigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  box-shadow: 10px 10px 130px rgb(0 0 0 / 50%);

  padding-right: 200px;
}
header #navigation ul {
  display: flex;
  list-style-type: none;
}
header #navigation ul li {
  margin: 10px 30px;
  transition: all 0.2s ease;
}
header #navigation ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 500;
}
header #navigation ul li:hover {
  border-bottom: 2px solid tomato;
}

#header {
  display: flex;
}
#header .header-left {
  margin-top: 100px;
  width: 50%;
  margin-left: 50px;
}
#header .header-left h1 {
  font-size: 50px;
}
#header .header-left .colored-text {
  color: #e95e46;
}
#header .header-left p {
  color: #ffffff;
  font-size: 18px;
  padding-right: 10%;
  margin-bottom: 20px;
}
#header .header-right {
  width: 50%;
}
#header .header-right img {
  width: 80%;
}
#header a,
#about-me a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
}
.button {
  background: linear-gradient(90deg, #eb9749, #ff1e1e);
  width: 192px;
  height: 68px;
  padding: 10px 30px;
  border-radius: 20px;
}

/* About Me  Style Part */

#about-me {
  background-image: url(img/frame.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  padding-top: 100px;
  margin-bottom: 100px;
}

#about-me .about-left {
  width: 50%;
}
#about-me .about-left img {
  width: 35%;
  margin-left: 250px;
}
#about-me .about-right {
  width: 50%;
  margin-top: 100px;
}
#about-me .about-right p {
  margin-bottom: 50px;
  margin-right: 150px;
  margin-top: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-weight: 500;
}

/* Style For Recipe Section */
#recipes {
  margin-bottom: 200px;
}
#recipes .recipe-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
#recipes .recipe-details {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin: 20px 300px;
  margin-bottom: 100px;
}
#recipes .recipe-cards {
  display: flex;
  margin: 10px 50px;
  justify-content: center;
  margin-right: 100px;
}
#recipes .recipe-cards .card {
  margin-right: 10px;
  margin-left: 30px;
  width: 342px;
  height: 528px;
  padding: 0px 30px;
  border-radius: 30px;
  box-shadow: -14px -11px 49px #dedede;
}
#recipes .recipe-cards .card img {
  margin-top: 30px;
  width: 337px;
  height: 256px;
  border-radius: 20px;
}
#recipes .recipe-cards .card h3 {
  margin-top: 15px;
}
#recipes .recipe-cards .card p {
  margin-top: 15px;
  text-align: justify;
  color: black;
}
/* Social Platform Style */
#social-platform {
  margin: 0 150px;
  margin-left: 90px;

  color: #ff1e1e;
  padding-bottom: 50px;
  border-radius: 50px;
  box-shadow: 10px 10px 47px rgb(220 220 220);
  margin-bottom: 100px;
}
#social-platform .header {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}
.social-contact {
  display: flex;
}

.social-link {
  width: 25%;
}
.social-link img {
  width: 25%;
  margin-left: 90px;
}
.social-link h3 {
  font-size: 20px;
  text-align: left;
  margin-left: 55px;
}
/* Footer Section */

#footer {
  padding-bottom: 70px;
  text-align: center;
  background-color: black;
}

#footer h2 {
  color: #e95e46;
  padding-top: 30px;
  margin-bottom: 30px;
}

#footer h2 span {
  color: rgb(107, 103, 103);
}

#footer p {
  color: rgb(185, 180, 180);
  padding-bottom: 20px;
}
